body {
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    margin: 0 auto;
    font-family: 'Titillium Web'!important;
    font-weight: 400;
}
/****************** BARRA DE NAVEGACION *****************/
.img-nav {
    width: 70%;
}
nav {
    width: 100%;
    height: 150px;
    font-size: 22px;
}
.navbar{
    background-color: white;
    margin-bottom: 10px;
    height: 120px;
    padding-left: 50px;
    padding-right: 50px;
}
.img-nav{
    height: 100%;
}
.btn-nav{
    background-color: white;
    border: 0px;
    display: flex;
    align-items: center !important;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #5A2C89;
}
.btn-nav:hover{
    color: #EB008B;
}
.menu-nav{
    display: flex;
    height: 100%;
}

@media (max-width: 1100px) {
    .navbar{
          padding-left: 1px;
          padding-right: 1px;
    }
    .img-nav {
        margin-left: 3rem;
    }
    .btn-nav{
          display: none;
    }
}
/****************** PRIMERA SECCION *****************/
.first-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #EB008B;
    border-radius: 120px 0px;
    height: 538px;
    margin: 0;
}
.text-container {
    padding: 10%;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px!important;
    color: #FFFFFF!important;
}
.hero-paragraph {
    font-style: normal;
    font-size: 24px!important;
    line-height: 36px;
    color: #FFFFFF;
    padding: 10px;
    max-width: 500px;
}
.image-wrapper {
    width: 100%;
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hero-img {
    background-image: url("../onepage-assets/img/imagenprincipal.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 120px 0px;
    background-position-x: right;
}
.paragraph {
    padding: 10px;
}
.button-wrapper-hero {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}
.form-submit-button {
    border-radius: 53px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
    width: 192px;
    height: 60px;
}
.contact-button {
    background: #5A2C89;
}    
.contact-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.calendly-button {
    border: 3px solid #FDFCF7;
    border-radius: 53px;
    width: 260px;
    background-color: transparent;
}
/******************* SEGUNDA SECCION *************************/
.second-section {
    padding: 0 2%;
    margin-top: 2rem;
    padding-bottom: 3rem;
}
.servicios-title {
    display: flex;
    padding-left: 4%;
    width: 200px;
}
.servicios-h2 {
    color: #EB008B;
    font-weight: 900!important;
    line-height: 58px;
    font-size: 38px;
}
.como-te-apoyamos-h2 {
    margin-top: 2rem;
}
.quienes-somos-h2 {
    font-size: 38px;
}
.t-container {
    margin: 50px;
    height: 500px;
    background-color:  #FCF1E0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 0rem;
}
.t-tabs, .t-contents {
	list-style-type: none;
	margin: 0;
	box-sizing: border-box;
}
.t-tabs{
    display: flex;
    flex-direction: row;
    padding-left: 0%;
}
.t-tabs li {
    border-bottom: 7px solid #5A2C89;
    height: 125px;
    width: 33.3333%;
    background-color: white;
    color: #5A2C89;
}
.t-tabs li:hover {
    cursor: pointer;
    transition-duration: 0.4s;
}
.t-tabs li.selected {
	color:#EB008B;
	cursor: default;
	background:  #FCF1E0;
    border-bottom: 7px solid #EB008B;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.t-tab{
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-tab-icon{
    width:70px; 
    height:70px;
}
.t-tab-text{
    max-width: 130px;
    color: rgb(105, 105, 105);
    padding-left: 10px;
}
.t-contents {
	padding:0;
}
.t-content {
	padding: 0 1em;
    display: flex;
	box-sizing: border-box;
	float: left;
	width: 100%;
	line-height: 1.3em;
	text-align: justify;
	z-index: 1;
	position: relative;
	max-height: 0;
	transition: max-height 0.5s ease 0s;
	overflow: hidden;
}
.t-content.selected {
	max-height: 3000px;
	transition: max-height 1.25s ease 0.5s;
}
.t-content ul {
	padding-left: 1.4em;
	margin-bottom: 1.75em;
}
.t-content ul li {
	margin-bottom: 0.5em;
}
.t-content ul li:before {
	content: "â—";
	float: left;
	margin-left: -19px;
	color: #3c7ab7;
	z-index: 2;
	position: relative;
}
.t-content-text{
    width: 50%;
    color: rgb(105, 105, 105);
    padding-left: 100px;
    padding-top: 100px;
}
.t-content-text-title{
    color: #5A2C89;
    font-weight: bold;
}
.t-content-img{
    width:250px;
    height: auto;
    margin: auto;
    padding-top: 60px;
}

@media (max-width: 900px) {
    .t-container{
        height: 800;
    }
    .t-tabs{
        flex-direction: column;
    }
    .t-tabs li {
       width: 100%;
    }
    .t-content.selected{
        flex-direction: row;
    }
}

/******************* TERCERA SECCION *************************/
.third-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #EB008B;
    border-radius: 0px 120px;
    height: 534px;
    margin: 0;
    margin-bottom: 0px;
}
.third-section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 73px;
    color: #FFFFFF; 
}
.bullet-list {
    max-width: 547px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bullet-list>li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.rock-img {
    background-image: url("../onepage-assets/img/imagen-como-te-apoyamos.png");
    background-position-y: 30px;
    background-repeat: no-repeat; 
    background-size: contain;
    background-position-x: left;
}
/****************** CUARTA SECCION *****************/
.fourth-section {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    background-color: #5A2C89;
    padding-top: 3rem;
}
.fourth-section-title {
    margin-bottom: 1rem;
}
.card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% auto;
}
.card-img {
    width: 40%!important;
    max-width: 300px;
    display: flex;
    align-self: center;
}
.card-text {
    width: 60%;
} 
.profile-img {
    width: 100%;
    padding: 10%;
}
.presentation-card {
    background-color: white;
    max-width: 584px;
    height: 450px;
    border-radius: 10px;
    display: flex;
}
.presentation-card-right {
    float: right;
}
.card-text {
    margin: auto;
    margin-top: 1.5rem;
    font-size: 14px;
}
.fourth-section-text {
    width: 575px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;  
}
.fourth-section-text>p {
    margin-top: 2rem;
}
.fourth-section-text-wrapper {
    color: #FFFFFF;
    margin: 0 5%;
    left: 1%;
}
.fourth-section-image-div {
    margin: auto;
}
  .text-presentation-image {
    display: flex;
}
.paragraph-text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    max-width: 321px;
}
.black-text {
    color: black;
    font-weight: bold;
}
.color-text {
    color: #EB008B;
    font-family: 'Titillium Web';
}
.fa-linkedin {
    color: #5A2C89;
}
/****************** QUINTA SECCION *****************/
/****************** SEXTA SECCION *****************/
.sixth-section {
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
}
.sixth-section-title {
    font-style: normal;
    font-weight: 700!important;   
    font-size: 38px;
    line-height: 58px;
    color: #EB008B;
    padding-left: 20px;
    max-width: 500px;
    padding-left: 5%;
}
.logo {
    background-color: transparent;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-column-gap: 2%;
    max-width: 100%;
    margin: 5% 20px;
    justify-items: right;
}
.innova-logo {
    background-image: url("../onepage-assets/logos-partners-png/Innovachile-color.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.hangar-logo {
    background-image: url("../onepage-assets/logos-partners-png/h7dark.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.womenin-logo {
    background-image: url("../onepage-assets/logos-partners-png/LOGO-WIM.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.almabrands-logo {
    background-image: url("../onepage-assets/logos-partners-png/almabrands.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.turingo-logo {
    background-image: url("../onepage-assets/logos-partners-png/Logo-Turingo-ok.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.micro-logo {
    background-image: url("../onepage-assets/logos-partners-png/png-Micro-Logo-Official-RGB.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.integra-logo {
    background-image: url("../onepage-assets/logos-partners-png/Integra-metrics.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.sustent-logo {
    background-image: url("../onepage-assets/logos-partners-png/disena-sustentable.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.welinkher-logo {
    background-image: url("../onepage-assets/logos-partners-png/logo_header.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.financiero-logo {
    background-image: url("../onepage-assets/logos-partners-png/Logo-DF-cuadrado-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.emerge-logo {
    background-image: url("../onepage-assets/logos-partners-png/logo-emerge-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.consentido-logo {
    background-image: url("../onepage-assets/logos-partners-png/LOGO-FONDO-CLARO-CONSENTIDO.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.plac-logo {
    background-image: url("../onepage-assets/logos-partners-png/plac.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.fdm-logo {
    background-image: url("../onepage-assets/logos-partners-png/fdm.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
/******************** SEPTIMA SECCION ******************/
.form-section {
    display: flex;
    width: 100%;
    height: 650px;
    background-color: #EB008B;
    border-radius: 40px 0px 0px 0px;
}
.form-section-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row; 
    padding: 5%;
}
.form-side-text {
    padding: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-self: center;
}
.form-section-paragraph {
    color: #FFFFFF;
}
/* mail chimp styles */
#mc_embed_signup {
    height: fit-content;
    width: 100%!important;
    max-width: 600px;
    margin: auto;
}
#mc_embed_signup h2 {
    font-style: bold;
    font-size: 32px!important;
    line-height: 40px;
    color: #5D5D5D;
}
#mc_embed_signup .button {
    background-color: #5A2C89!important;
}
/****************** FOOTER SECCION *****************/
.instagram-icon {
    margin-left: 1rem;
}
.footer-section {
    width: 100%;
    height: 500px;
    background-color: #5A2C89;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.grid-box {
    border: 1px solid transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: right;
}
.correo-box {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    height: 100px;
}
.grid-layout {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    margin: 0 auto; 
    grid-column-gap: 5%;
    grid-row-gap: 0px;
}
.grid-box-main-logo {
    background-image: url("../onepage-assets/logos/logoMkforce-blanco.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
}
.grid-box-partner-logo {
    background-image: url("../onepage-assets/logos/Innovachile-blanco.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    background-position-y: 50px;
}
.partner-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}
.newsletter-title {
    width: 300px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
}
.contact-info-grid {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.icon {
    margin: 10px;
}
.icons-div {
    width: 100%;
}
.fa-location-dot, .fa-envelope {
    margin-right: 1rem;
}
/******************************************* ESTILOS RESPONSIVE PARA MOVIL **********************************/
.footer-mobile {
    display: none;
}
@media screen and (max-width: 1200px) {
    .image-wrapper {
        display: none;
    }
    
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 36px!important;
    }
    h2 {
        font-size: 24px!important;
    }
    /* navbar */
    .navbar {
        justify-content: space-evenly;
        flex-wrap: nowrap!important;
    }
    /* primera seccion */
    .first-section {
        height: fit-content;
    }
    
    .img-nav {
        width: 60%;
        margin-left: 2rem;
    }
    /* segunda seccion servicios */
    .t-container {
        max-height: 700px;
        margin: 20px;
        text-align: left;
    }
    .t-content-img {
        display: none;
    }
    .t-content-text {
        width: 100%;
        padding-left: 0px;
        padding-top: 3rem;
    }
    /* tercera seccion como te ayudamos */
    .bullet-list {
        margin: auto;
        height: fit-content;
        margin-top: 0rem;
        margin-left: 2rem;
    }
    .como-te-apoyamos-h2 {
        margin-top: 0rem;
    }
    .third-section {
        padding: 5%;
        border-top-right-radius: 100px!important;
        border-radius: 0px;
        height: fit-content;
    }
    .second-section {
        padding-bottom: 2rem;
    }
    /* sexta seccion */
    .sixth-section-title {
        position: unset;
    } 
    /* form section */
    .form-section-wrapper {
        flex-direction: column;
        margin: auto;
        padding: 0%;
        font-size: 24px;
        width: 90%;
    }
    .form-section {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 3rem;
    }
    .form-section-paragraph {
        font-size: 18px;
        max-width: 90%;
    }
    .title {
        font-size: 24px!important;
    }

    .fourth-section-text>p {
        margin-top: 0rem;
    }
    #mc_embed_signup {
        width: 100%!important;
    }
    /* quienes-somos*/
    .card-img {
        width: 100%!important;
        height: 100%;
        flex-direction: column;
        padding: 10px;
    }
    .fourth-section {
        height: fit-content;
    }
    .form-side-text {
        padding: 5%;
    }
    .card-wrapper {
        flex-direction: column;
    }
    .profile-img {
        width: 70%;
        margin: auto;
        padding: 0%!important;
    }
    .title-text {
        width: 100%;
    }
    .presentation-card {
        margin: auto;
        width: 90%;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 2rem;
    }
    .fourth-section-image-div {
        display: none;
    }
    .fourth-section {
       padding: 5%;
    }
    .fourth-section-title {
        margin-bottom: 0rem;
    }
    .card-text {
        margin: 1rem;
        width: 100%!important;
    }
    .paragraph-text {
        width:90%;
        height: 100%;
    }
/*footer section */
    .correo-box {
        max-width: 100%!important;
    }
    .contact-info {
        margin-bottom: 2rem;
    }
    .footer-social-div {
        margin: 2rem auto;
    
    }
    .newsletter-title {
        margin-bottom: 2rem;
    }
    .grid-layout {
        grid-template-columns: repeat(auto-fill, 350px);
    }
    .grid-box-icons {
        height: 100px;
    }
    .mobile-only {
        background-image: url("../onepage-assets/img/imagen-como-te-apoyamos.png");
        height: 300px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: center;
    }
    .desktop-only {
        display: none;
    }

    /* new footer mobile */
    .footer-mkt-logo {
        width: 70%;
    }
    .footer-partner-logo {
        width: 50%;
    }
    .partner-text {
        margin-top: 1rem;
    }
    .mt-2rem {
        margin-top: 2rem;   
    }
    .footer-regular-text {
        font-size: 14px;
    }
    .footer-mobile {
        display: block;
        color: #FFFFFF;
        margin: auto;
        width: 95%;
    }
    .footer-section {
        padding: 5%;
        padding-bottom: 50px;
        height: fit-content;
    }
    .correo-box {
        width: 100%;
        height: fit-content;
    }
    /*confian en nosotros*/
    .sixth-section-title {
        width: 100%;
        max-width: 300px;
    }
    .logo {
        width: 100%;
        max-height: 100%;
        width: 80%;
        margin: auto;
        max-height: 100%;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5%;
    }
    .hero-title {
        margin-top: 2rem;
    }
    .quienes-somos-h2 {
        margin-bottom: 1rem;
    }
    .t-context-text, .t-content {
        text-align: left;
    }
}




